{% extends 'base.html' %}
{% block content%}
{% load static %}
<br>
<br>
<br>
<div class="container my-5">
    <div class="row">
        <div class="img-wrap"></div> <img src="{{p.image_front_url }}" alt="image du produit" style="width:300px; height:300px;padding:10px">
        <h3 class=" ">{{ p.name }}</h3>
            <ol>
                <li><span class=""> {{ p.brand }}</span>
                <li><span class=""> {{p.store }}</span>
                <li><span class=""> {{p.nutrition_grade }}</span>
                <li><span class=""> {{p.url }}</span><a href="{{ p.url}}<br>target="_blank">Voir la fiche Open Food Facts</a>

            </ol>
    </div>
</div>
{% endblock %}
