{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->

<div class="container py-5 my-5">
<br><br>
    <h1>Login </h1>
  <form  action = "{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
{#    {% if login_form.errors %}#}
{#        <p>L'email ou le mot de passe est incorrect.</p>#}
{#    {% endif %}#}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
  <p class="text-center">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Créer un compte</a></p>

{#        {% if messages %}#}
{#        <ul class="messages">#}
{#            {% for message in messages %}#}
{#            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        {% endif %}#}

{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#        <p>{{ message }}</p>#}
{#        {% endfor %}#}
{#    {% endif %}#}

</div>
{% endblock %}

