{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register--><div class="container py-5 my-5">
<br>
	<h1>Inscription</h1>
	<form action = "{% url 'register' %}" method="POST">
        {% csrf_token %} <!-- for security purpose - token send to the server and accept this data-->
        {{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
    </form>
    <br>
    <p class="text-center">Si vous avez déjà un compte <a href="{% url 'login' %}">Connectez-vous</a></p>
        {% if error %}
            <p class="error" style="color:red; text-align:center;border-style: solid;border-color:red;border-radius: 5px">{{ error }}</p>
        {% endif %}
</div>
{% endblock %}

