{% extends 'base.html' %}
{% block content%}
{% load static %}
<body>
    <section >
        <div class="text-center" id ="img_search">
            <div class="header_img">
                <div class="header_img mx-auto">
                   <div id="back_img"  class="img-responsive" style="background-image:url({{p1.image_front_url}}">
                       <h2>
                           <a id="text_prod" class="text mb-5">
                           {{p1.name}}
                           </a>
                       </h2>
                   </div>
                </div>
            </div>
        </div>
    </section>


{# # good 1#}
    <div class="container" style="text-align: center;">
        <h1 class="text-center">Vous pouvez remplacer cet aliment par :</h1>
         <div class="row">
                 {% for p in product %}
                         <div class="col-md-4">
                            <div class="card card-product-grid">
                                 <div class="img-wrap"></div> <img src="{{p.image_front_url}}" alt="image du produit" style="width:100%; height:300px;padding:10px">
                            </div>
                         </div>
                         <div id="foods-content">
                            <a class="text-center js-scroll-trigger" href="{% url 'detail' product_id=p.id %}">
                            <h6 id="food-name">{{ p.name }}<br></h6></a>
                        </div>
                      <form action="{% url 'save' product_id=p.id %}" class="save" method="POST" >
                          {% csrf_token %}
                          <input class="save" name="product_id=p.id" type="submit" value="Sauvegarder ce produit">
                      </form>
                 {% empty %}
                    <h2>Désolé, ce produit ne figure dans notre catalogue, cherchez des produits qui figurent dans les catégories : Viandes, Poissons, Epicerie, Chocolats, Pates-a-tartiner.</h2>
                {% endfor %}
         </div>
    </div>
 </body>

{% endblock %}




{#{% for product in page_obj %}#}
{#<div class="container" style="text-align: center;">#}
{#    <h1 class="text-center ">Vous pouvez remplacer cet aliment par :</h1>#}
{#     <div class="row">#}
{#             {% for p in product %}#}
{#                     <div class="col-md-4">#}
{#                        <div class="card card-product-grid">#}
{#                             <div class="img-wrap"></div> <img src="{{p.image_front_url}}" alt="image du produit" style="width:100%; height:300px;padding:10px">#}
{#                        </div>#}
{#                     </div>#}
{#             {% empty %}#}
{#                <h2>Ce produit ne figure dans notre catalogue, cherchez des produits qui figurent dans notre catalogue : Viandes, Poissons, Epicerie, Chocolats, Pates-a-tartiner.</h2>#}
{#            {% endfor %}#}
{#     </div>#}
{#</div>#}
{#{% endfor %}#}
{##}
{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}
{#</body>#}
{#{% endblock %}#}

