{% extends "base.html" %}

{% block content %}
<style>
    .page-section {
        padding: 5% 0; /* use this value to keep the content away from the edge of the screen */
    }

    .mentionlegal p {
        font-size: 1rem; /* used the rem value to keep the font-size consistent across browsers */
    }
</style>

<section class="page-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <div class="mentionlegal">
                    <p></p>
                    <p>Ce site internet est non professionnel et est utilisé dans le cadre du projet 8 de la formation de Developpeur d'Application Python Openclassrooms.</p>
                    <p>Le traitement des données est destiné uniquement à des fins pédagogiques.</p>
                    <p>Les emails, mot de passe et nom d'utilisateur à renseigner doivent être fictifs et uniques à ce site.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
